<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title><%= pageTitle%></title>
        <link rel="stylesheet" href="css/main.css">
    </head>
    <body>
        <header class="main-header">
            <nav class="main-header__nav">
                <ul class="main-header__item-list">
                    <li class="main-header__item"><a href="/">Shop</a></li>
                    <li class="main-header__item"><a href="/admin">Admin</a></li>
                    <li class="main-header__item"><a href="/admin/add-product">Add Product</a></li>
                </ul>
            </nav>
        </header>
        <main>
            <h1>Shop</h1>
            <ul>
                <li>
                    <h2>Product 1</h2>
                    <p>Description 1</p>
                    <p>$9.99</p>
                </li>
                <li>
                    <h2>Product 2</h2>
                    <p>Description 2</p>
                    <p>$19.99</p>
                </li>
                <li>
                    <h2>Product 3</h2>
                    <p>Description 3</p>
                    <p>$29.99</p>
                </li>
            </ul>
        </main>
    </body>
</html>
