/* Sizes */
$baseline: 8px;

/* Breakpoints */
$mobile: 768px;
$tablet: 1024px;
$desktop: 1280px;

/* Config */
$cmp: 'registration';

:root {
    /* Colors */
    --color-primary: #f0585f;
    --color-secondary: #de2f5d;
    --color-tertiary: #f1f1f1;
    --color-tertiary-25: rgba(241, 241, 241, 0.7);
    --color-dark: #333333;
    --color-dark-10: rgba(51, 51, 51, 0.1);
    --color-dark-25: rgba(51, 51, 51, 0.25);
    --color-dark-50: rgba(51, 51, 51, 0.5);
}

.#{$cmp} {
    &__base {
        display: flex;
        padding: $baseline * 7;
        background-image: linear-gradient(90deg, var(--color-primary), var(--color-secondary));
        color: var(--color-tertiary);
        border-radius: 8px;
        box-shadow: 0 18px 24px -8px var(--color-primary);

        &--centered {
            flex-direction: column;
            align-items: center;
            text-align: center;
            justify-content: center;
        }

        &--horizontal {
            flex-direction: row;
        }

        + .#{$cmp}__base {
            margin-top: $baseline * 10;
        }
    }

    &__content {
        .#{$cmp}__base--horizontal & {
            margin-left: calc((100% / 8) * 1);
            width: calc((100% / 8) * 5);
        }
    }

    &__heading {
        margin: 0;
        font-weight: 700;
    }

    &__period {
        margin: 0;
        font-size: 13px;
        line-height: 1.6;
    }

    &__text {
        font-size: 14px;
        line-height: 1.8;
        margin: 0;
        max-width: 420px;
        margin-block: $baseline * 3;
    }

    &__button-container {
        display: flex;
        flex-direction: column;
        justify-items: center;
        width: 100%;
        max-width: calc((100% / 8) * 2);
    }

    &__button {
        padding-block: $baseline * 1.5;
        padding-inline: $baseline * 4;
        background-color: transparent;
        border: none;
        color: var(--color-tertiary);
        border-radius: 4px;
        cursor: pointer;
        transition: all 0.2s ease-in-out;
        box-shadow: 0 18px 24px -8px var(--color-secondary);

        &--primary {
            background-color: var(--color-tertiary);
            color: var(--color-dark);

            &:hover {
                background-color: var(--color-tertiary-25);
                color: var(--color-dark);
            }
        }

        &--secondary {
            background-color: var(--color-dark-10);
            color: var(--color-tertiary);
            border: solid 1px var(--color-tertiary-25);

            &:hover {
                background-color: var(--color-dark-25);
                color: var(--color-tertiary);
                border: solid 1px var(--color-tertiary);
            }
        }
    }
}
