@use '../../_02_settings_tools/index.scss' as *;

.paragraph {
    margin: 0;
    font-family: 'Roboto Condensed', sans-serif;

    @each $size, $value in $fs {
        &--#{$size} {
            font-size: $value;
        }
    }
}
