COMPOSE_PROJECT_NAME="blog-w-comments"
UI_PROJECT_PATH="/frontend/apps/${COMPOSE_PROJECT_NAME}-app"
API_POSTS_PROJECT_PATH="/backend/api/${COMPOSE_PROJECT_NAME}-posts-api"
API_COMMENTS_PROJECT_PATH="/backend/api/${COMPOSE_PROJECT_NAME}-comments-api"
API_QUERY_PROJECT_PATH="/backend/api/${COMPOSE_PROJECT_NAME}-query-api"
API_MODERATION_PROJECT_PATH="/backend/api/${COMPOSE_PROJECT_NAME}-moderation-api"

MIDDLEWARE_EVENT_BUS_PROJECT_PATH="/backend/middleware/${COMPOSE_PROJECT_NAME}-event-bus-middleware"

COMMENTS_API_URL=http://comments-api:5000/api
EVENT_BUS_URL=http://event-bus:5000/api
POSTS_API_URL=http://posts-api:5000/api
MODERATION_API_URL=http://moderation-api:5000/api
QUERY_API_URL=http://query-api:5000/api


