COMPOSE_PROJECT_NAME="devcamper"

# MongoDB: Should be changed with the regarding values --------------------------------
MONGO_USERNAME=root
MONGO_PASSWORD=example
MONGO_HOSTNAME=mongo-database-service

# MongoDB: Should be changed with the regarding values --------------------------------
MONGO_INITDB_ROOT_USERNAME=root
MONGO_INITDB_ROOT_PASSWORD=example

# MongoDB LOCAL: Should be changed with the regarding values --------------------------------
MONGO_PORT=27017
MONGO_DB=devcamper
DATABASE_LOCAL_URI="mongodb://${MONGO_USERNAME}:${MONGO_PASSWORD}@${MONGO_HOSTNAME}:${MONGO_PORT}/${MONGO_DB}?authMechanism=DEFAULT&authSource=admin"

# MongoDB ATLAS(Remote): Should be changed with the regarding values --------------------------------
MONGODB_ATLAS_USERNAME="xxx"
MONGODB_ATLAS_PASSWORD="xxx"
DATABASE_ATLAS_URI="mongodb+srv://${MONGODB_ATLAS_USERNAME}:${MONGODB_ATLAS_PASSWORD}@paulserbanstudycluster.vlmlrpg.mongodb.net/?retryWrites=true&w=majority"

# IF you want to use the local database, you should use the following line
DATABASE_URI=${DATABASE_LOCAL_URI}

# IF you want to use the remote database, you should use the following line
# DATABASE_URI=${DATABASE_ATLAS_URI}

# 1Environment: Should be changed with the regarding values --------------------------------
NODE_ENV=development

# Geocoder
DEVCAMPER_GEOCODER_PROVIDER=xxx
DEVCAMPER_GEOCODER_API_KEY=xxx
