COMPOSE_PROJECT_NAME="dj-events"
PUBLIC_HOSTNAME=localhost

CMS_HOST=0.0.0.0
CMS_PORT=1337
CMS_SERVICE_HOSTNAME=strapi-cms


PRIVATE_CMS_API_URL=http://${CMS_SERVICE_HOSTNAME}:${CMS_PORT}/api

NODE_ENV="development"
PORT=3000
CMS_URL=http://${PUBLIC_HOSTNAME}:${PORT}/cms

NEXT_PUBLIC_PROTOCOL=http
NEXT_PUBLIC_HOSTNAME=localhost
NEXT_PUBLIC_PORT=${PORT}

NEXT_PUBLIC_APP_URL=http://${NEXT_PUBLIC_HOSTNAME}:${NEXT_PUBLIC_PORT}
NEXT_PUBLIC_API_URL=http://${NEXT_PUBLIC_HOSTNAME}:${NEXT_PUBLIC_PORT}/api

APP_KEYS=EQ+o4uB8QlB1oCRjE/ZCVg==,MQH7tsvHG7DsaVbhht3ciw==,GFW0U7hr7wbIdORgM/rMiQ==,XIHUjGPgZ0WPD5LoGSOSQg==
API_TOKEN_SALT=i1muyivFXqQqf7QlxtKWhA==

ADMIN_JWT_SECRET=GIBL0eVttwQXJJcb0H2NKw==
TRANSFER_TOKEN_SALT=avhqNq6G8zlQisG7zLmBZQ==
JWT_SECRET=avhqNq6G8zlQisG7zLmBZQ==

# Database
DATABASE_CLIENT=mysql
DATABASE_HOST=127.0.0.1
DATABASE_PORT=3306
DATABASE_NAME=dj-events-cms
DATABASE_USERNAME=admin
DATABASE_PASSWORD=password
DATABASE_SSL=false
