COMPOSE_PROJECT_NAME="hello-strapi"

HOST=0.0.0.0
PORT=1337

APP_KEYS=EhFOfz9W0y9QZJzp278fQQ==,c41xaDfdDcseKONPiEs2eg==,YZY7G4K9jH9j7hInSOkZUQ==,GLDlGmna9DaTG3M87ivB1g==
API_TOKEN_SALT=81cXQfteY2LnCF06bl03yA==

ADMIN_JWT_SECRET=nX0i3YxGNdUIG7EyM2SKng==
TRANSFER_TOKEN_SALT=UaA7duolGuEkcUnd0f4sHg==
JWT_SECRET=UaA7duolGuEkcUnd0f4sHg==

# Database
DATABASE_CLIENT=mysql
DATABASE_HOST=127.0.0.1
DATABASE_PORT=3306
DATABASE_NAME=hello-strapi-cms
DATABASE_USERNAME=admin
DATABASE_PASSWORD=password
DATABASE_SSL=false
NODE_ENV=development
