COMPOSE_PROJECT_NAME="hello-payload-website-template"

# MongoDB: Should be changed with the regarding values --------------------------------
MONGO_USERNAME=root
MONGO_PASSWORD=example
MONGO_HOSTNAME=mongo-database-service

# MongoDB: Should be changed with the regarding values --------------------------------
MONGO_INITDB_ROOT_USERNAME=root
MONGO_INITDB_ROOT_PASSWORD=example

# MongoDB LOCAL: Should be changed with the regarding values --------------------------------
MONGO_PORT=27017
MONGO_DB=hello-payload-website-template
DATABASE_LOCAL_URI="mongodb://${MONGO_USERNAME}:${MONGO_PASSWORD}@${MONGO_HOSTNAME}:${MONGO_PORT}/${MONGO_DB}?authMechanism=DEFAULT&authSource=admin"

# MongoDB ATLAS(Remote): Should be changed with the regarding values --------------------------------
MONGODB_ATLAS_USERNAME="paulserbanAdmin"
MONGODB_ATLAS_PASSWORD="adminPaulSerban"
DATABASE_ATLAS_URI="mongodb+srv://${MONGODB_ATLAS_USERNAME}:${MONGODB_ATLAS_PASSWORD}@paulserbanstudycluster.vlmlrpg.mongodb.net/?retryWrites=true&w=majority"

# IF you want to use the local database, you should use the following line
DATABASE_URI=${DATABASE_LOCAL_URI}

# Used to encrypt JWT tokens
PAYLOAD_SECRET=YOUR_SECRET_HERE

# Used to format links and URLs
PAYLOAD_PUBLIC_SERVER_URL=http://localhost:3000
NEXT_PUBLIC_SERVER_URL=http://localhost:3000

# Allow robots to index the site (optional)
NEXT_PUBLIC_IS_LIVE=

# Used to preview drafts
PAYLOAD_PUBLIC_DRAFT_SECRET=demo-draft-secret
NEXT_PRIVATE_DRAFT_SECRET=demo-draft-secret

# Used to revalidate static pages
REVALIDATION_KEY=demo-revalation-key
NEXT_PRIVATE_REVALIDATION_KEY=demo-revalation-key

# Environment: Should be changed with the regarding values --------------------------------
NODE_ENV=development
PORT=3000