COMPOSE_PROJECT_NAME="shopping-cart-redux"

# MongoDB: Should be changed with the regarding values --------------------------------
MONGO_USERNAME=root
MONGO_PASSWORD=example
MONGO_HOSTNAME=mongo-database-service

# MongoDB: Should be changed with the regarding values --------------------------------
MONGO_INITDB_ROOT_USERNAME=root
MONGO_INITDB_ROOT_PASSWORD=example

# MongoDB LOCAL: Should be changed with the regarding values --------------------------------
MONGO_PORT=27017
MONGO_DB=shoping-cart-redux
DB_LOCAL_URI="mongodb://${MONGO_USERNAME}:${MONGO_PASSWORD}@${MONGO_HOSTNAME}:${MONGO_PORT}/${MONGO_DB}?authMechanism=DEFAULT&authSource=admin"

# IF you want to use the local database, you should use the following line
DB_URI=${DB_LOCAL_URI}

# IF you want to use the remote database, you should use the following line
# DB_URI=${DB_ATLAS_URI}

# 1Environment: Should be changed with the regarding values --------------------------------
NODE_ENV=development
