/*=============================================
=                Typography                   =
=============================================*/

/**
 *
 * 1) The playfair font. We'll use this for headings mostly.
 *     https://fonts.google.com/specimen/Playfair+Display
 *
 * 2) The raleway font. We'll use this for the body text.
 *     https://fonts.google.com/specimen/Raleway
 */

/* Font families */

$playfair: 'Playfair Display', serif; /* 1 */
$raleway: 'Raleway', 'HelveticaNeue', 'Helvetica', sans-serif; /* 2 */

/* Font sizes */
$fs-xs: 0.75rem; // 12px
$fs-sm: 0.875rem; // 14px
$fs-base: 1rem; // 16px
$fs-lg: 1.125rem; // 18px
$fs-xl: 1.5rem; // 24px

$fs: (
    xs: 0.75rem,
    sm: 0.875rem,
    base: 1rem,
    lg: 1.125rem,
    xl: 1.5rem,
);

/* Heading font sizes */
$h-1: 1.375rem; // 22px
$h-2: 1.375rem; // 22px
$h-3: 1rem; // 16px
$h-4: 1.125rem; // 18px
$h-5: 0.75rem; // 12px
$h-6: 0.75rem; // 12px

/* Font weights */

$fw-light: 300;
$fw-normal: 400;
$fw-medium: 500;
$fw-semibold: 600;
$fw-bold: 700;
$fw-extrabold: 800;
$fw-black: 900;

/*=====  End of Typography  ======*/
