<div class="row">
    <div class="col-sm">
        <div class="card">
            <div class="card-header bg-primary text-white text-uppercase">
                <i class="fa <%= iconName %>"></i> <%= sectionLabel %>
            </div>
            <div class="card-body">
                <% if(products.length > 0) { %> <%- include('productList', {products})%> <% } %>
            </div>
        </div>
    </div>
</div>
