#root {
    max-width: 1280px;
    margin: 0 auto;
    width: 100%;
}

.app-container {
    max-width: calc((100% / 12) * 12);
    margin: 0 auto;

    @media screen and (min-width: 768px) {
        max-width: calc((100% / 12) * 10);
    }

    @media screen and (min-width: 1024px) {
        max-width: calc((100% / 12) * 8);
    }
}
