.btn {
    text-transform: uppercase;
    background: var(--clr-primary-5);
    color: var(--clr-white);
    padding: 0.375rem 0.75rem;
    letter-spacing: var(--spacing);
    display: inline-block;
    transition: var(--base-transition);
    font-size: 1.4rem;
    border: 2px solid transparent;
    cursor: pointer;
    box-shadow: var(--btn-shadow);

    &:hover {
        color: var(--clr-primary-1);
        background: var(--clr-primary-8);
    }
}

.section {
    padding: 5rem 0;
    scroll-margin-top: 4rem;
}

.section-title {
    text-align: center;
    margin-bottom: 4rem;

    h2 {
        text-transform: uppercase;
    }
    span {
        color: var(--clr-primary-5);
    }
}

.section-center {
    width: 90vw;
    margin: 0 auto;
    max-width: 1170px;

    @media screen and (min-width: 992px) {
        width: 95vw;
    }
}
