@use '../_02_settings_tools/index.scss' as settings;

:root {
    --ppr-body-text-color: #{settings.$dark};
    --ppr-body-bg-color: #{settings.$white};

    --ppr-btn-primary-color: #{settings.$white};
    --ppr-btn-primary-bg: #{settings.$green};
    --ppr-btn-primary-bg-hover: #{settings.$green-light};

    --ppr-btn-secondary-color: #{settings.$white};
    --ppr-btn-secondary-bg: #{settings.$dark};

    --ppr-form-color: #{settings.$dark};
    --ppr-form-bg: #{settings.$white};
    --ppr-form-error-color: #{settings.$red};
    --ppr-form-error-border: #{settings.$red};
    --ppr-form-border-focus-color: #{settings.$green};

    --ppr-body-font-size: #{settings.$fs-base};
    --ppr-body-font-weight: #{settings.$fw-normal};

    --ppr-h1-font-size: #{settings.$h-1};
    --ppr-h2-font-size: #{settings.$h-2};
    --ppr-h3-font-size: #{settings.$h-3};
    --ppr-h4-font-size: #{settings.$h-4};
    --ppr-h5-font-size: #{settings.$h-5};
    --ppr-h6-font-size: #{settings.$h-6};

    --ppr-h1-font-weight: #{settings.$fw-medium};
    --ppr-h2-font-weight: #{settings.$fw-medium};
    --ppr-h3-font-weight: #{settings.$fw-medium};
    --ppr-h4-font-weight: #{settings.$fw-normal};
    --ppr-h5-font-weight: #{settings.$fw-normal};
    --ppr-h6-font-weight: #{settings.$fw-light};
}
