<!doctype html>
<html lang="en">
    <%- include('../includes/head') %>
    <body>
        <%- include('../includes/navigation') %>
        <main>
            <h1>Orders</h1>
        </main>
    </body>
</html>
